@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

*
{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

body{
    background: #eee;
    font-family: 'Merriweather';

}
#colorCode{
    margin: 1rem 0;
    color: white;
}
h3, h4 {
    margin: 1rem auto;
    text-align: center;
    color: rgb(102, 90, 90);
}
/* input style */
input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(250, 171, 171);
}

/* General button style */
.btn{
    background: transparent;
    color: rgb(250, 171, 171);
    border: 1px solid rgb(250, 199, 199);
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
}
.new-btn {
    margin: 5rem;
}

/* Input button hover effect */
.btn:hover{
    background: rgb(250, 199, 199);
    color: white;
}

/* Certain changes to the greet section button */
#btn2{
    background: white;
    color: rgb(250, 171, 171);
    border: 1px solid rgb(250, 171, 171);
}

/* Greet section hover effect */
#btn2:hover{
    background: rgb(250, 171, 171);
    color: white;
}

/* input section */
#input, #color{
    color: rgb(250, 171, 171);
    width: 20rem;
    background: #fff;
    padding: 4rem;
    font-family: Calibri;
    font-size: 1rem;
    margin: 2rem auto;
    border: 1px solid rgb(250, 199, 199);
    border-radius: 30% 0 30% 0;
    opacity: 0;

    /* Set transitions up */
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    transition: opacity 3s;

}


/* When the ShowInputSection function finds this class, the opacity of the section becomes 1 after the time specified. */
#input.show-input {
    opacity: 1;
    
    /* Set transitions up */
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    transition: opacity 3s;
}

/* greet section */
#greet{
    color: rgb(133, 95, 114);
    width: 20rem;
    background: rgb(255, 232, 232);
    padding: 4rem;
    font-family: Calibri;
    font-size: 1rem;
    margin: 2rem auto;
    border: 1px solid white;
    border-radius: 30% 0 30% 0;
    opacity: 0;

    /* Set transitions up */
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    transition: opacity 3s;
}

/* When the ShowGreetSection function finds this class, the opacity of the section becomes 1 after the time specified. */
#greet.show-greet {
    opacity: 1;
    
    /* Set transitions up */
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    transition: opacity 3s;
}

/* Color me section */
#color.show-color {
    opacity: 1;
    
    /* Set transitions up */
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    transition: opacity 3s;
}




